body {
  background-color: black;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  max-width: 940px;
  margin: auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imagesMain/bg.jpg) center bottom no-repeat;
  background-size: cover;
  min-height: 3vh;
  display: flex;
  align-items: right;
}

.menu {
  max-width: 940px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  color: #fffdfc;
  font-size: 25px;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.menu .navbar ul li a:hover {
  color: #d45e22;
  text-decoration: underline;
}

#menu {
  display: none;
}

.logo-icono {
  width: 25px;
}
#logo {
  height: 150px;
}

.menu label {
  cursor: pointer;
  display: none;
}

/*del header*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

.tres {
  height: 150px;
  display: flex;
  max-width: 940px;
  margin: auto;
}

.top {
  height: 120px;
  padding: 15px 0;
}

.rosa {
  width: 20%;

  display: flex;
  justify-content: center;
}

.botonlog {
  /* background-color: black; */
  color: white;
  height: 100%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.principal {
  width: 60%;
  max-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: orange;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.naranja {
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 100px;
}

main {
  width: 60%;
}

.infografia {
  width: 100%;
}
.lectores {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 30px;

  min-height: 500px;
}
iframe {
  min-width: 80%;
  min-height: 100%;
}

.lectores iframe {
  margin-top: 20px;
}
.mapa {
  width: 100%;
  display: flex;
  justify-content: center;
}

h5 {
  text-align: center;
  color: white;
  font-weight: bold;

  font-style: normal;
}

aside {
  margin-top: 60px;
}
.mapa iframe {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  padding: 32px;
  color: rgb(144, 0, 255);
  text-align: center;
}

.contacto {
  color: aquamarine;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
}

@media (max-width: 940px) {
  header {
    max-width: 940px;
  }
  #logo {
    max-height: 10vh;
  }

  .tres {
    max-width: 100vw;

    display: flex;
    height: 13vh;
  }

  .rosa {
    width: 33%;
  }

  .principal {
    width: 33%;
    background-color: #00000000;
  }

  .naranja {
    width: 33%;
  }
  .botonlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 80%;
    height: 80%;
  }
  .centro {
    display: block;
    width: 100vw;
  }
  main {
    max-width: 940px;
    width: 100%;
  }
  .lectores {
    padding: 30px;
    min-height: 30vh;
  }

  .aside {
    max-width: 940px;
    width: 100%;

    min-height: 45vw;
    display: block;
  }
  h5 {
    color: coral;
  }
  .mapa iframe {
    width: 100vw;
  }
}

.quienes {
  color: white;
  text-align: justify;
}

.containerq {
  display: flex;
  align-items: center;
}

.containerq img {
  max-width: 100px;
  margin-right: 20px;
}

.containerq .textq {
  color: white;
  text-align: left;
}
