@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imagesMain/bg.jpg) center bottom no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquina {
  width: 30%;
}
.navbar {
  width: 70%;

  display: flex;
  justify-content: end;
}
.logo {
  max-width: 120px;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
}

.menu .navbar ul li a:hover {
  color: #d45e22;
}

#menu {
  display: none;
}

.logo-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 75px;
  line-height: 80px;
  color: #c5c5c5;
  text-transform: uppercase;
  margin-top: 35px;
}

.header-content p {
  font-size: 26px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 25px;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: #d35d22;
  color: #f9fafc;
  text-transform: uppercase;
}

.btn-1:hover {
  background-color: #fc0505;
}

.Metro {
  padding: 100px 0;
  background-color: #fefeff;
  position: relative;
}

.Metro-content {
  text-align: center;
}

.Metro-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}

.txt-p {
  font-size: 22px;
  color: #414247;
  padding: 0 250px;
  margin-bottom: 35px;
}

.Metro-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.Metro-1 {
  padding: 0 25px;
}

.Metro-1 img {
  width: 200px;
  flex: 0 0 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

.Metro-1 h3 {
  color: #323337;
  font-size: 20px;
  margin-bottom: 15px;
}

.services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imagesMain/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.services-content {
  text-align: center;
}

.services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.services-content p {
  font-size: 16px;
  color: #f8f7f7;
  margin-bottom: 50px;
  padding: 0 100px;
}

.services-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.services-1 {
  padding: 0 100px;
}

.services-1 iframe {
  width: 280px;
  margin-bottom: 55px;
  background-position: center;
  padding: 15px;
}

.services-1 h3 {
  color: #f0720c;
  font-size: 18px;
}

.general {
  display: flex;
}

.general-1 {
  width: 50%;
  padding: 100px 250px 100px 100px;
  background-color: #e1e2e6;
}

.general-2 {
  background-image: url(imagesMain/metro-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-3 {
  background-image: url(imagesMain/metro-2.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #414247;
  margin: 25px 0 45px 0;
}

.Redes {
  padding: 100px 0;
  text-align: center;
}

.Redes-content {
  display: flex;
  justify-content: space-between;
}
.Redes-1 h2 {
  color: #323337;
}

.redes-1 link {
  font-size: 20px;
  text-align: center;
}

.footer {
  padding: 100px 0;
  background-color: #000000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link h3 {
  font-size: 18px;
  color: #f9fafc;
  margin-bottom: 15px;
}

.link a {
  font-size: 16px;
  color: #f5f4f4;
  display: block;
  margin-bottom: 15px;
}

@media (max-width: 940px) {
  .menu {
    padding: 30px;

    display: flex;
  }
  .esquina {
    width: 30%;
  }
  .menu .navbar {
    width: 70%;
  }

  .menu .navbar ul li {
    width: 100%;
  }
  .menu a :first-child {
    width: 10vw;
  }

  .logo {
    height: 100%;
    min-width: 120px;
  }
  .menu .navbar ul li:hover {
    background-color: #72d32213;
  }
  .menu .navbar ul li a {
    padding: 5px;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    margin-top: 100px;
    padding: 20px 30px;
    width: 100vw;
  }
  .header-content h1 {
    font-size: 2em;
  }

  .header-content p {
    padding: 0;
    font-size: 1em;
  }

  .Metro {
    padding: 30px;
  }

  .Metro-content h2 {
    padding: 0;
    font-size: 2em;
  }

  .txt-p {
    padding: 0;
    font-size: 1em;
  }

  .Metro-group {
    /* flex-direction: column; */
    margin-bottom: 0;
  }

  .Metro-img {
    display: none;
  }

  .services {
    padding: 30px;
  }
  .services-content h2 {
    font-size: 2em;
    line-height: normal;
  }
  .services-content p {
    padding: 0;
  }

  .services-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .services-1 {
    margin-bottom: 25px;
    padding: 0 10px;
  }

  h2 {
    font-size: 2em;
    line-height: normal;
  }

  .general {
    flex-direction: column;
  }

  .general-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .general-2,
  .general-3 {
    display: none;
  }

  .Redes {
    padding: 30px;
  }

  .Redes-content {
    flex-direction: column;
  }

  .Redes-1 {
    padding: 0;
  }

  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
